<style type="text/css">

<!--  to hide from being viewed by browser

H1, H2 {
	color: green;
}

BODY {
	background: white;
}

.TH {
	font-weight : bold;
	/* background-color : #DDDDDD; */
	/* background-color : #CC3300; */
        background-color : #FFCC33;
        font-family : verdana;
}

.even {
	/* background-color : #FFFEE1; */
	/* background-color : #FFFAE8; */
	background-color : #EEEEEE;
}

.odd {
	/* background-color : #EEEEEE; */
	background-color : #C7C7C5;
}

.PageSectionTitle {
	font-family : verdana;
	font-weight : bold;
	font-size : large;
	/* background-color : #4B0082; */   /* 542571 #4B0082*/
	/* background-color : #658017; */
	/* background-color : #808000; */
	/* background-color : #000180; */
	/* background-color : #7E2217; */
	/* background-color : #8000000; */
	/* background-color : #348017; */
	/* background-color : #544E4F; */ /*000080; */
	/* background-color : #556B2F; 667C26, 254117;  */
	/* background-color : #CC3300;   */
}

.PageSectionContent {
	font-size : small;
	font-family : verdana, arial, helvetica;
	color : #000000;
        /* background-color : #E3E4FA; */
        /* background-color : #C7CF92; */
        /* background-color : #EEE8AA; */
        background-color : #DBDBD9;
        /* background-color : #C7CF92; */
        /* background-color : #D7D7D7;  */ /* EEEEEE ,  */
        /* background-color : #F0FEEE; */
        /* background-color : #E56717;  */ /* E66C2C;  */
        /* background-color : #FFFACD;    F0E68C;   EDE275;  */
        /* background-color : #D5D5D4;   */
}

.FormHelpComment {
	font-size : small;
	font-family : verdana, arial, helvetica;
	/* color : #770000; */
	/* color : #4B0082; */
	/* color : #658017; */
	color : #CC3300;
}

.FormSectionTitle {
    font-family : verdana;
	font-weight : bold;
	/* font-size : large; */
	/* background-color : #FFCC66; */
	background-color : #CC3300;
	color : #FFFFFF;
}

.FormFieldLabel {
	font-size : small;
	font-family : verdana, arial, helvetica;
	font-weight : bold;
}

.FormFieldComment {
	font-size : small;
	font-family : verdana, arial, helvetica;
}

/* Error message title */
.ETitle {
    font-family : verdana;
	font-weight : bold;
	background-color : #E3E3E3;
}

/* Error message body */
.EBody {
	font-family : verdana, arial, helvetica;
	font-size : small;
	background-color : #EEEEEE;
}

/* Top Bar Link */
.TBL {
	font-size : small;
	font-family : verdana, arial, helvetica;
}

/* Action Links */
.ActionLink {
	font-size : smaller;
	font-family : verdana, arial, helvetica;
}

.FormBackground {
	/* background-color : #FFFAE8; */
	background-color : #F4F4F3;
}

-->

</style>

