/*      written by Tan Ling Wee on 2 Dec 2001
 *     last updated 20 Jun 2003
 *    email : fuushikaden@yahoo.com
 *     website : www.pengz.com
 *
 * From the author:
 *     I've also received a lot of emails asking me the charges of using the
 *     calendar. Seems like I did not make my intention clear. Hence, I shall
 *     announce here that this is a FREEWARE, which means you don't need to pay
 *     me anything to use it, be it personal or commercial use. Releasing it as a
 *     freeware for few months until now have let me learn more about other
 *     countries' calendar system, other web developer's tips and tricks, some
 *     even volunteering to add functionalities to it (^_^ thanks!) I think that
 *     I've gained enough from it :)
 *
 *     Cheers,
 *     Ling Wee
 *     25 Jun 2003
 *
 * Updated By Vaibhav Bhargava on 02/24/2004
 *     - Added attributes of close/clear display at bottom on calendar
 *
 */

/* Default attributes of table container for entire calendar */
.table-style {
	font-family: arial;
	border-width: 1; 
	border-style: solid; 
	border-color: #a0a0a0; 
	background-color: #ffffff;
	font-family: arial; 
	font-size: 11px;
}

/* Default attributes of DIV containing table container for entire calendar.
 * You probably don't want to alter this style.
 */
.div-style {
	z-index: +999;
	position: absolute;
	visibility: hidden;
}

/* Default attributes used in calendar title (month and year columns).*/
.title-style {
	padding: 2px;
	font-family: arial; 
	font-size: 11px;
	color: #FFFFFF;	
	text-align: center;
}

/* Default attributes used in calendar title background.*/
.title-background-style {
	background-color: #0000AA;
}

/* Normal appearance of controls in calendar title. */
/* Note: The right, left and down icons are images, which must be edited if you need to change them. */
.title-control-normal-style {
	border-style: solid;
	border-width: 1;
	border-color: #3366FF; 
	cursor: pointer;
}

/* Moused-over (selected) appearance of controls in calendar title. */
.title-control-select-style {
	border-style: solid;
	border-width: 1;
	border-color: #88AAFF; 
	cursor: pointer;
}

/* Default attributes of drop down lists (month and year). */
.dropdown-style {
	font-family: arial; 
	font-size: 11px; 
	border-width: 1; 
	border-style: solid; 
	border-color: #a0a0a0;
	background-color: #D8E8F5;
	cursor: pointer;
}

/* Default attributes selected (mouse-over) item in drop down lists (month and year). */
.dropdown-select-style {
	background-color: #F0F0F0;
}

/* Default attributes unselected (mouse-off) item in drop down lists (month and year). */
.dropdown-normal-style {
	background-color: #0;
}

/* Default attributes of calendar body (weekday titles and numbers). */
.body-style {
	padding: 5px;
	background-color: #FFFFFF;
	font-family: verdana; 
	font-size: 10px;
}

/* Attributes of current day in calendar body. */
.current-day-style:link, .current-day-style:active, .current-day-style:visited {
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}

.current-day-style:hover {
	text-decoration: underline;
}

/* Attributes of end-of-week days (Sundays) in calendar body. */
.end-of-weekday-style:link, .end-of-weekday-style:active, .end-of-weekday-style:visited {
	color: #909090;
	text-decoration: none;
}

.end-of-weekday-style:hover {
	text-decoration: underline;
}

/* Attributes of all other days in calendar body. */
.normal-day-style:link, .normal-day-style:active, .normal-day-style:visited {
	color: black;
	text-decoration: none;
}

.normal-day-style:hover {
	text-decoration: underline;
}

/* Attributes of border around selected day in calendar body. */
.selected-day-style:link, .selected-day-style:active, .selected-day-style:visited {
        border-style: solid;
	border-width: 1px; 
	border-color: #a0a0a0;
}

.selected-day-style:hover {
	text-decoration: underline;
}

/* Default attributes of designated holidays. */
.holiday-style:link, .holiday-style:active, .holiday-style:visited {
	background-color: #FFDDDD;
	text-decoration: none;
}

.holiday-style:hover {
	text-decoration: underline;
}

/* Attributes of close/clear display at bottom on calendar */
.clear-close-link:link, .clear-close-link:active, .clear-close-link:visited {
	color: black;
	background-color: #FFFFFF;
	text-decoration: none;
}

.clear-close-link:hover {
	text-decoration: none;
}

/* Attributes of close/clear display at bottom on calendar */
.clear-close-style {
	font-size: 10px; 
	font-weight: bold;
	color: black;
	background-color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

/* Attributes of today display at bottom on calendar */
.today-style {
	padding: 5px;
	color: black;
	background-color: #EFEFEF;
	text-align: center;
	text-decoration: none;
}

/* Attributes of week number division (divider.gif) */
.weeknumber-div-style {
	background-color: #d0d0d0; 
	padding: 0px;
}
