BODY {
	BACKGROUND-COLOR: #ffffff
}
TABLE {
	COLOR: #000000
}
TH {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10pt; 
	MARGIN: 0in; 
	COLOR: #000000; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #e1e1e1
}
P {
	FONT-SIZE: 10pt; MARGIN: 0in; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 10pt; MARGIN: 0in; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR .params{
	FONT-SIZE: 8pt; MARGIN: 0in; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 10pt; MARGIN: 0in; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.red {
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: #ff0000;
	text-align : center;
	vertical-align : middle;
	color : White;
}
TD.green {
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: #00ff00;
	text-align : center;
	vertical-align : middle;
	color : White;
}
TD.normal {
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: #ffffff;
	text-align : center;
	vertical-align : middle;
	color : Black;
}
TD.boldgreen {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14pt; MARGIN: 0in; FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #00ff00;
	text-align : center;
	vertical-align : middle;
	color : White;
}
TD.boldred {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14pt; MARGIN: 0in; FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ff0000;
	text-align : center;
	vertical-align : middle;
	color : White;
}
TD.tocgreen {
	BACKGROUND-COLOR: #00ff00;
}
TD.tocred {
	BACKGROUND-COLOR: #ff0000;
}

TD.footer {
	FONT-STYLE: italic; 
	text-align : right;
	color : blue;
}

TD.paramname {
	text-align : right;
	color : Green;
	margin-right : 16px;
	vertical-align : top;
}
TD.stepname {
	color : Green;
	text-transform : uppercase;
}
PRE {
	FONT-SIZE: 8pt; LINE-HEIGHT: normal; FONT-STYLE: normal; 
	FONT-FAMILY: "Courier New", Courier, mono; WHITE-SPACE: pre
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.result{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	MARGIN: 0in;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : White;
}
A.toc{
	FONT-WEIGHT: bold;
	FONT-SIZE: 14pt;
	MARGIN: 0in;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color : White;
	text-align : left;
}