
/* GENERAL */
BODY,P,TD,DIV,SPAN,A,.text,.white,.forward,.selected,.title,.actions { font-size: 12px; color: #000000; font-family: tahoma,arial,verdana,sans-serif; }
OPTION,INPUT,TEXTAREA,SELECT,.formText { font-family: tahoma,arial,verdana,sans-serif; }

FORM { display: inline; } 

/******/

/* MENU */
.mainMenuText { font-size: 12px; font-family: tahoma,arial,verdana,sans-serif; font-weight: bold; color: white }
.mainMenuFont { font-size: 12px; font-family: tahoma,arial,verdana,sans-serif; font-weight: bold; color: white }
.mainMenuColor { color: #FFFFFF; font-weight: bold }
.mainMenuSelected { font-size: 12px; font-weight: bold; color: #003366 }

.subMenuText { font-size: 12px; font-family: tahoma,arial,verdana,sans-serif; font-weight: normal; color: #003366 }
.subMenuFont { font-size: 12px; font-family: tahoma,arial,verdana,sans-serif; font-weight: normal; color: #003366 }
/* .subMenuSelected { font-size: 12px; font-weight: bold; color: #FF9900 } */
.subMenuSelected { font-size: 12px; font-weight: bold; color: #D68418 }
.subMenuBar { font-size: 12px; font-weight: bold; color: #999999 }

#boldFont { font-weight: bold }

.titleFont { font-size: 18px; font-family: tahoma,arial,verdana,sans-serif; font-weight: bold; color: #003366 }
.requiredText { font-weight: normal; color: red }
.blueField { color:#000000; background:#D8E8F5; }
.successText { font-weight: bold; color: green }
.errorText { font-weight: bold; color: red }
.userText { font-size: 11px; font-weight: bold; color: white }
.logoutText { font-size: 11px; font-weight: bold; color: #DDC018 }
/******/

/* BUTTON */
.button { cursor:hand; font-family: tahoma,arial,verdana,sans-serif; font-weight:normal; font-size:smaller; background-color:#dcdcdc }
.sbutton {
    border-right:#104a7b 1px solid; border-top:#afc4d5 1px solid; background:#d6e7ef;
    border-left:#afc4d5 1px solid; cursor:hand; color:#000066; border-bottom:#104a7b 1px solid;
    height:22px; font-size:12px; font-weight:normal; text-decoration:none
}
.sbutton2 {
    border-right:#104a7b 1px solid; border-top:#afc4d5 1px solid; background:#d6e7ef;
    border-left:#afc4d5 1px solid; cursor:hand; color:#000066; border-bottom:#104a7b 1px solid;
    height:22px; width:155px; font-size:12px; font-weight:normal; text-decoration:none
}
/******/

/* TABLE */

/* .tableheader { font-weight: bold; background-color: #BBBBBB }
*/
.tableheader { font-weight: bold; color: #003366; background-color: #BDBDBD }
.tableheader1 { font-weight: bold; color: #003366; background-color: #AAAAAA }
.oddrow { background-color: #FFFFFF }
/* Very light gray */
/* .evenrow { background-color: #EEEEEE } */
/* Very light blue */
.evenrow { background-color: #D8E8F5 }

.tblHeaderLabel { font-size: 14px; font-weight: bold; color: #003366; }
.tblHeaderLabel2 { font-size: 12px; font-weight: bold; color: #003366; }
.tblHdrLabel2 { font-size: 14px; font-weight: bold; color: white; }
.tblSubHeaderLabel { font-size: 12px; font-weight: bold; color: black }
.tblSubHdrLabel2 { font-size: 12px; font-weight: bold; color: white }

.tblFieldLabel {font-weight: normal; color: black; }
.tblFieldValue {font-weight: normal; color: #333333; }

/* .smallText { font-size: 11px; } */
.smallText { font-size: 12px; }
.smallText2 { font-size: 12px; text-align: center; }

/*******/

/* FORM */
.formLabel { font-weight: normal; text-align: right; height:20px; }
.formLabel2 { font-weight: bold; color: #333333; background-color: #D8E8F5; text-align: right; }
.formLabel3 { font-weight: bold; color: #333333; background-color: #DCE0E3; text-align: right; }
.formLabel4 { font-weight: bold; color: #333333; background-color: #D8E8F5; text-align: center; }
.formLabel5 { font-weight: bold; color: #333333; background-color: #D8E8F5; text-align: left; }
.formField { font-weight: normal; color: #333333; background-color: #EFEFEF; }
.formField2 { font-weight: normal; color: #333333; background-color: #D8E8F5; text-align: right; }
.formField5 { font-weight: normal; color: #333333; background-color: #D8E8F5; text-align: left; }

.formAlertLabel { font-weight: bold; color: #333333; background-color: #E6D6D6; text-align: right; }
.formAlertField { font-weight: normal; color: #333333; background-color: #FAEEEE; }

.formHint { font-size: 10px; }
.requiredField { font-weight: bold; color: #E35A00; }

/* .smallField { font-size:small; color:#000000; background:#D8E8F5; height:20px; }*/
.smallField { font-size:11; color:#000000; background:#D8E8F5; }
.smallField2 { font-size:11; color:#000000; background:#D8E8F5; width:160px; }
.smallField3 { font-size:11; color:#000000; background:#D8E8F5; width:130px; }

/******/

/* LINKS */
A:link, A:active, A:visited { color: #003366; text-decoration: underline }
A:hover { text-decoration: underline; }

A.mainMenuHeader:link, A.mainMenuHeader:active, A.mainMenuHeader:visited { font-weight: bold; text-decoration: none; color: white} 
A.mainMenuHeader:hover { text-decoration: underline }
A.subMenuHeader:link, A.subMenuHeader:active, A.subMenuHeader:visited { font-weight: normal; text-decoration: none; color: #003366} 
A.subMenuHeader:hover { text-decoration: underline }
A.logoutMenuHeader:link, A.logoutMenuHeader:active, A.logoutMenuHeader:visited { font-weight: bold; text-decoration: none; color: #DDC018} 
A.logoutMenuHeader:hover { text-decoration: underline }
A.listText:link, A.listText:active, A.listText:visited { font-weight: normal; text-decoration: none; color: #003366} 
A.listText:hover { text-decoration: underline }

A.drilldown:link, A.drilldown:active, A.drilldown:visited { color: #336699; text-decoration: underline }
A:drilldown:hover { text-decoration: underline; }

A.exceedLimit:link, A.exceedLimit:active, A.exceedLimit:visited { color: red; text-decoration: underline }
A:exceedLimit:hover { text-decoration: underline; }

.listLink { font-weight: bold; }
.jumpLink { font-size: 10px; }
.selectedHeader, A.selectedHeader, A.selectedHeader:link, A.selectedHeader:active, A.selectedHeader:visited { color: #ffffff; }

/******/


