<style type="text/css">

<!--  to hide from being viewed by browser
/* GENERAL */
BODY,P,TD,DIV,SPAN,A,.text,.white,.forward,.selected,.title,.actions { font-size: 12px; color: #000000; font-family: tahoma,arial,verdana,sans-serif; }
OPTION,INPUT,TEXTAREA,SELECT,.formText { font-family: tahoma,arial,verdana,sans-serif; }

FORM { display: inline; } 

/******/

/* MENU */
.mainMenuText { font-size: 12px; font-family: tahoma,arial,verdana,sans-serif; font-weight: bold; color: white }
.mainMenuFont { font-size: 12px; font-family: tahoma,arial,verdana,sans-serif; font-weight: bold; color: white }
.mainMenuColor { color: #FFFFFF; font-weight: bold }
.mainMenuSelected { font-size: 12px; font-weight: bold; color: #003366 }

.subMenuText { font-size: 12px; font-family: tahoma,arial,verdana,sans-serif; font-weight: normal; color: #003366 }
.subMenuFont { font-size: 12px; font-family: tahoma,arial,verdana,sans-serif; font-weight: normal; color: #003366 }
.subMenuSelected { font-size: 12px; font-weight: bold; color: #D68418 }
.subMenuBar { font-size: 12px; font-weight: bold; color: #999999 }

.titleFont { font-size: 18px; font-family: tahoma,arial,verdana,sans-serif; font-weight: bold; color: #003366 }
.blueField { color:#000000; background:#D8E8F5; }

.smallText {font-weight:normal; font-size: 11px;}
.errorText {font-weight:normal; color:red;}

/******/

/* BUTTON */
.button { cursor:hand; font-family: tahoma,arial,verdana,sans-serif; font-weight:normal; font-size:smaller; background-color:#dcdcdc }
.sbutton {
    border-right:#104a7b 1px solid; border-top:#afc4d5 1px solid; background:#d6e7ef;
    border-left:#afc4d5 1px solid; cursor:hand; color:#000066; border-bottom:#104a7b 1px solid;
    height:22px; font-size:12px; font-weight:normal; text-decoration:none
}
.sbutton2 {
    border-right:#104a7b 1px solid; border-top:#afc4d5 1px solid; background:#d6e7ef;
    border-left:#afc4d5 1px solid; cursor:hand; color:#000066; border-bottom:#104a7b 1px solid;
    height:22px; width:155px; font-size:12px; font-weight:normal; text-decoration:none
}
.sbutton3 {
    border-right:#104a7b 1px solid; border-top:#afc4d5 1px solid; background:#d6e7ef;
    border-left:#afc4d5 1px solid; cursor:hand; color:#000066; border-bottom:#104a7b 1px solid;
    height:22px; width:40px; font-size:12px; font-weight:normal; text-decoration:none
}
/******/

/* TABLE */ 
.tblHeaderLabel { font-size: 14px; font-weight: bold; color: #003366; }
.tblHeaderLabel2 { font-size: 12px; font-weight: bold; color: #003366; }
.tblHdrLabel2 { font-size: 14px; font-weight: bold; color: white; }
.tblSubHeaderLabel { font-size: 12px; font-weight: bold; color: black }
.tblSubHdrLabel2 { font-size: 12px; font-weight: bold; color: white }

.tblFieldLabel {font-weight: normal; color: black; }
.tblFieldValue {font-weight: normal; color: #333333; }
/******/

/* FORM */
/* FORM */
.formLabel { font-weight: normal; text-align: right; height:20px; }
.formLabel2 { font-weight: bold; color: #333333; background-color: #D8E8F5; text-align: right; }
.formLabel3 { font-weight: bold; color: #333333; background-color: #DCE0E3; text-align: right; }
.formLabel4 { font-weight: bold; color: #333333; background-color: #D8E8F5; text-align: center; }
.formLabel5 { font-weight: bold; color: #333333; background-color: #D8E8F5; text-align: left; }
.formField { font-weight: normal; color: #333333; background-color: #EFEFEF; }
.formField5 { font-weight: normal; color: #333333; background-color: #D8E8F5; text-align: left; }

.formAlertLabel { font-weight: bold; color: #333333; background-color: #E6D6D6; text-align: right; }
.formAlertField { font-weight: normal; color: #333333; background-color: #FAEEEE; }

.formHint { font-size: 10px; }
.requiredField { font-weight: bold; color: #E35A00; }

.Medium {
    font-size : 10pt;
    font-family : Verdana, Arial, Helvetica;
}

.Small {
    font-size : 8pt;
    font-family : Verdana, Arial, Helvetica;
}

.error {
    color: #FF0000;
    font-size : 8pt;
    font-family : Verdana, Arial, Helvetica;
}

-->

</style>

