
/* GENERAL */
P,TR,TD,UL,OL,LI,DIV,SPAN,A,.text,.white,.forward,.selected,.title,.actions { font-size: 12px; color: #000000; font-family: tahoma,arial,verdana,sans-serif; }
OPTION,INPUT,TEXTAREA,SELECT,.formText { font-family: tahoma,arial,verdana,sans-serif; }
BODY { font-family: tahoma,arial,verdana,sans-serif; margin-left:0; margin-top:0; margin-right:3;}

#boldFont { font-weight: bold }

.titleFont { font-size: 18px; font-family: tahoma,arial,verdana,sans-serif; font-weight: bold; color: #003366 }
.upText { font-weight: bold; color: green }
.downText { font-weight: bold; color: red }
.blueField { color:#000000; background:#D8E8F5; }
.blueTextBold { font-weight: bold; color: #003366 }
.redTextBold { font-weight: bold; color: red }


/******/

/* BUTTON */
.button { cursor:hand; font-family: tahoma,arial,verdana,sans-serif; font-weight:normal; font-size:smaller; background-color:#dcdcdc }
.sbutton {
    border-right:#104a7b 1px solid; border-top:#afc4d5 1px solid; background:#d6e7ef;
    border-left:#afc4d5 1px solid; cursor:hand; color:#000066; border-bottom:#104a7b 1px solid;
    height:22px; font-size:12px; font-weight:normal; text-decoration:none
}
/******/

/* TABLE */

.tableheader { font-weight: bold; color: #003366; background-color: #BDBDBD }
.oddrow { background-color: #FFFFFF }
/* Very light blue */
.evenrow { background-color: #D8E8F5 }

/* .smallText { font-size: 11px; } */
.smallText { font-size: 11px; }
.smallText2 { font-size: 12px; text-align: center; }

/******/

/* LINKS */
A:link, A:active, A:visited { color: #3333ff; text-decoration: underline }
A:hover { text-decoration: underline; }

/******/

