/*
 * Copyright 2002 Sun Microsystems, Inc. All rights reserved.
 * SUN PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
 */

/*
 * Default CSS stylesheet
 */

body {
    background-color: white;
}

h1, h2 {
    text-align: center;
    font-family: sans-serif;
    color: #000099;
}

h3, h4, h5, h6 {
    text-align: left;
    font-family: sans-serif;
    color: #000099;
}

code {
    font-family: Courier, monospace;
}

/*
hr {
    align: center;
    width: 70%;
}
*/
